# --- Binaires et Exécutables ---
*.exe
*.out
*.app
*.dll

# --- Fichiers objets ---
*.o
*.obj

# --- Dossiers de génération ---
bin/
build/
obj/

# --- IDE et Système ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db